* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}